.Volunteer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.Volunteer .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
}

.Volunteer .content .inner {
  margin: 5% 5% 0 5%;
  padding: 8rem 1rem 1rem 1rem;
}

.Volunteer .content .title {
  color: var(--orange);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
  font-family: "Vollkorn", serif;
}

.Volunteer .content .subtitle {
  color: (--black);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Vollkorn", serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Volunteer .content .subtext {
  color: (--black);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
}

#custom-grid {
  display: grid;
  color: (--black);
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;

  row-gap: 0px;
  height: 100%;
}

.labelStyle {
  color: #fff;
  font-family: "Vollkorn", sans-serif;
}
p {
  color: #fff;
  font-family: "Vollkorn", sans-serif;
}

#glass-btn {
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
}

#glass-btn > button {
  margin-top: 15px;
  padding: 0.5em 2em;
  font-family: CaviarDreams;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.26);
}

#glass-btn > button,
button::before,
button::after {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 5px 0 rgba(255, 0, 119, 0.089);
  backdrop-filter: blur(5.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.3s;
}

#glass-btn > button::before,
button::after {
  content: "";
  position: absolute;
  animation: float 4s infinite;
}

#glass-btn > button::before {
  left: -0.7em;
  bottom: -0.7em;
  width: 1em;
  height: 1em;
  animation-delay: 0.5s;
}

#glass-btn > button::after {
  right: -0.7em;
  top: -0.7em;
  width: 1.2em;
  height: 1.2em;
}

#glass-btn > button:hover {
  color: var(--orange);
}
