@font-face {
  font-family: abnes;
  src: url(../Assets/fonts/abnes.ttf);
}

@font-face {
  font-family: CaviarDreams;
  src: url(../Assets/fonts/CaviarDreams.ttf);
}

.Home {
  width: 100%;
  height: 100vh;
  display: flex;
}

.Home video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Home .content {
  padding: 0rem 0rem 10rem 0rem;
  text-align: left;
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.Home .content h1 {
  padding-left: 2rem;
  font-size: 25px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: abnes;
  margin-top: 250px;
}

.Home .content h1:hover {
  letter-spacing: 5px;
  transition: letter-spacing 0.15s ease-out;
}

.Home .content h1:not(:hover) {
  letter-spacing: 3px;
  transition: letter-spacing 0.15s ease-in;
}

.Home .content h2 {
  margin-top: 20px;
  font-family: CaviarDreams;
  margin-left: 2%;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  margin-bottom: 40px;
}

.Home .content h3 {
  margin-top: 15px;
  font-family: CaviarDreams;
  margin-left: 2%;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  font-weight: 200;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 80px;
}

.Home .content h2:hover {
  letter-spacing: 3px;
  transition: letter-spacing 0.2s ease-out;
}

.Home .content h2:not(:hover) {
  letter-spacing: 2px;
  transition: letter-spacing 0.2s ease-in;
}

.Home .content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 50px;
}

/*Modify black overlay with rgba value*/
.Home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /*Change transparency value*/
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1050px) {
  .Home .content h1:hover {
    letter-spacing: 20px;
  }
}

#platformDescription {
  width: 38%;
}

#joinButton {
  position: relative;
  margin-left: 30px;
  margin-bottom: 20px;
}

#joinButton > button {
  padding: 0.5em 2em;
  font-family: CaviarDreams;
  font-size: 1.1rem;
  cursor: pointer;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.26);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 5px 0 rgba(255, 0, 119, 0.089);
  backdrop-filter: blur(5.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.3s;
}

#joinButton > button:hover {
  color: #fff;
}
.multiple-tilt {
  display: flex;
  position: absolute;
  flex-direction: row;
  margin-left: 70%;
  z-index: 10;

  .col {
    $spacing: 20px;
    margin-right: $spacing;

    :first-child {
      margin-bottom: $spacing;
    }
  }
}

.multiple-tilt .col .tilt-img > img {
  max-width: 200px;
}

#tilt-img1 {
  z-index: 1;
}

#GlassImageComponent > img {
  opacity: 0.5;
}

#GlassImageComponent > img:hover {
  opacity: 0.9;
  transition: opacity 0.4s ease-out;
}

#tilt-img2 {
  z-index: 2;
}

/*

  font-family: "Cairo", sans-serif;

  .glass-btn {
  position: relative;
}

.glass-btn > button {
  margin-top: 15px;
  padding: 0.5em 2em;
  font-family: "Cairo", sans-serif;
  font-size: 0.5em;
  cursor: pointer;
  letter-spacing: 2px;
  color: white;
}

.glass-btn > button,
button::before,
button::after {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 5px 0 rgba(255, 234, 0, 0.143);
  backdrop-filter: blur(5.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.3s;
}

.glass-btn > button::before,
button::after {
  content: "";
  position: absolute;
  animation: float 4s infinite;
}

.glass-btn > button::before {
  left: -0.7em;
  bottom: -0.7em;
  width: 1em;
  height: 1em;
  animation-delay: 0.5s;
}

.glass-btn > button::after {
  right: -0.7em;
  top: -0.7em;
  width: 1.2em;
  height: 1.2em;
}

.glass-btn > button:hover {
  color: var(--orange);
  font-size: 55%;
}

@keyframes float {
  50% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateY(0);
  }
}



  */
