@font-face {
  font-family: abnes;
  src: url(../Assets/fonts/abnes.ttf);
}

@font-face {
  font-family: CaviarDreams;
  src: url(../Assets/fonts/CaviarDreams.ttf);
}

.Home {
  width: 100%;
  height: 100vh;
  display: flex;
}

.Home video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Home .content {
  text-align: center;
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home .content h1 {
  margin-left: 5%;
  font-size: 50px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  letter-spacing: 20px;
  font-family: abnes;
}

.Home .content h1:hover {
  letter-spacing: 100px;
  transition: letter-spacing 0.2s ease-out;
}

.Home .content h1:not(:hover) {
  letter-spacing: 20px;
  transition: letter-spacing 0.2s ease-in;
}

.Home .content h2 {
  margin-top: 90px;
  font-family: CaviarDreams;
  margin-left: 2%;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.Home .content h2:hover {
  letter-spacing: 5px;
  transition: letter-spacing 0.2s ease-out;
}

.Home .content h2:not(:hover) {
  letter-spacing: 3px;
  transition: letter-spacing 0.2s ease-in;
}

.Home .content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 50px;
}

/*Modify black overlay with rgba value*/
.Home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /*Change transparency value*/
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1050px) {
  .Home .content h1:hover {
    letter-spacing: 20px;
  }
}
/*

  font-family: "Cairo", sans-serif;

  .glass-btn {
  position: relative;
}

.glass-btn > button {
  margin-top: 15px;
  padding: 0.5em 2em;
  font-family: "Cairo", sans-serif;
  font-size: 0.5em;
  cursor: pointer;
  letter-spacing: 2px;
  color: white;
}

.glass-btn > button,
button::before,
button::after {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 5px 0 rgba(255, 234, 0, 0.143);
  backdrop-filter: blur(5.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.3s;
}

.glass-btn > button::before,
button::after {
  content: "";
  position: absolute;
  animation: float 4s infinite;
}

.glass-btn > button::before {
  left: -0.7em;
  bottom: -0.7em;
  width: 1em;
  height: 1em;
  animation-delay: 0.5s;
}

.glass-btn > button::after {
  right: -0.7em;
  top: -0.7em;
  width: 1.2em;
  height: 1.2em;
}

.glass-btn > button:hover {
  color: var(--orange);
  font-size: 55%;
}

@keyframes float {
  50% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateY(0);
  }
}



  */
