@font-face {
  font-family: CaviarDreams;
  src: url(../Assets/fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: PROMETHEUS;
  src: url(../Assets/fonts/PROMETHEUS.ttf);
}

.Navbar {
  width: 100%;
  height: 8vh;
  display: flex;
  position: fixed;
  margin-top: 1%;
  z-index: 20;
  margin-left: 3%;
  justify-content: center;
  align-items: center;
}

.Navbar .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  /*Glass effect*/
  background: white;
  min-width: 35%;
  max-width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.065),
    rgba(255, 255, 255, 0.065)
  );
  border-radius: 1rem;
  backdrop-filter: blur(100rem);
  z-index: 10;
}

.Navbar .content .linksContainer {
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
}

.Navbar .content .linksContainer .link {
  font-family: CaviarDreams;
  font-size: 21px;
}

.Navbar .content .linksContainer > ul {
  color: rgba(255, 255, 255, 0.26);
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  padding-left: 0;
}

.Navbar .content .linksContainer > ul > li:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.Navbar .content .navMenuContainer button {
  padding: 2rem 4rem;
}

.Navbar .content .navMenu {
  display: none;
  position: relative;
}

.Navbar .content .navMenuContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-family: CaviarDreams;
}

@media screen and (max-width: 1050px) {
  .Navbar .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*Glass effect*/
    background: white;
    width: 10%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.065),
      rgba(255, 255, 255, 0.065)
    );
    border-radius: 1rem;
    backdrop-filter: blur(100rem);
    z-index: 10;
  }

  .Navbar .content .linksContainer {
    display: none;
  }

  .Navbar .content .navMenu {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Navbar .content .navMenuContainer {
    background: white;
    width: 70%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );
    border-radius: 1rem;
    backdrop-filter: blur(100rem);
    z-index: 10;
  }
}

#glass-btn {
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
}

#glass-btn > button {
  margin-top: 15px;
  padding: 0.5em 2em;
  font-family: CaviarDreams;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.26);
}

#glass-btn > button,
button::before,
button::after {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 5px 0 rgba(255, 0, 119, 0.089);
  backdrop-filter: blur(5.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.3s;
}

#glass-btn > button::before,
button::after {
  content: "";
  position: absolute;
  animation: float 4s infinite;
}

#glass-btn > button::before {
  left: -0.7em;
  bottom: -0.7em;
  width: 1em;
  height: 1em;
  animation-delay: 0.5s;
}

#glass-btn > button::after {
  right: -0.7em;
  top: -0.7em;
  width: 1.2em;
  height: 1.2em;
}

#glass-btn > button:hover {
  color: var(--orange);
}

@keyframes float {
  50% {
    transform: translateY(-0.5em);
  }
  100% {
    transform: translateY(0);
  }
}
