.Volunteering {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  /*IMPORTANT - Use margin-top to move pages*/
  margin-top: 120vh;
}

.Volunteering .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  position: relative;
}

.Volunteering .content .inner {
  margin: 5% 20% 0 20%;
  padding: 8rem 1rem 1rem 1rem;
}

.Volunteering .content .title {
  color: var(--orange);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
  font-family: "Vollkorn", serif;
}

.Volunteering .content .subtitle {
  color: (--black);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Vollkorn", serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Volunteering .content .subtext {
  color: (--black);
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
}

#custom-grid {
  display: grid;
  color: (--black);
  display: grid;

  grid-template-columns: 1fr 1fr;

  row-gap: 0px;
  height: 100%;
}
